


    </main>
    <footer>
        <p>Author: Jaron Haberstroh</p>
        <p>Copyright &copy; <%= new Date().getFullYear() %></p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="js/script.js"></script>

  </body>
</html>
