<form class="input-item" action="/submit" method="post">
    <input type="text" class="input-input" placeholder="Enter New ToDo" id="new-todo" name="newToDo">
    <button type="submit" name="submit">+</button>
</form>
