<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <% if (locals.navBarList) { %>
            <% navBarList.forEach(item => { %>
                <li class="nav-item">
                    <a class="nav-link" href=<%= `/${item}` %>><%= item %></a>
                </li>
            <% }); %>
        <% } %>
    </ul>
</nav>
